<button button class="btn dropdown-toggle" type="button" id="dropdownUsuario" data-bs-toggle="dropdown" aria-expanded="false">
    Usuario
</button>
<ul class="dropdown-menu" aria-labelledby="dropdownUsuario">
    <li><a class="dropdown-item" (click)="onClickAdminMode()">modo admin</a></li>
    <li><a class="dropdown-item" *ngIf="isAdmin" data-bs-toggle="modal" data-bs-target="#newProductModal">Agregar producto</a></li>
    <li><a class="dropdown-item" (click)="onClickPublicMode()">modo público</a></li>
    <li><a class="dropdown-item" href="#">login</a></li>
</ul>

<!-- Modal para agregar un artículo nuevo -->
<div class="modal fade" id="newProductModal" tabindex="-1" aria-labelledby="newProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="newProductModalLabel">Agregar nuevo producto</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        <div class="modal-body">
            <div class="input-group mb-3">
                <span class="input-group-text" id="newProductNombre">Nombre del producto</span>
                <input type="text" [(ngModel)]="newProduct.nombre" class="form-control" placeholder="" aria-label="productNombre" aria-describedby="basic-addon1" >
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="newProductImg">Link de imagen</span>
                <input type="text" [(ngModel)]="newProduct.img" #ctrl="ngModel" class="form-control" placeholder="" aria-label="productImg" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="newProductCategoria">Categoría</span>
                <input type="text" [(ngModel)]="newProduct.categoria" class="form-control" placeholder="" aria-label="productCategoria" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="newProductPrecio">Precio</span>
                <input type="text" [(ngModel)]="newProduct.precio" class="form-control" placeholder="" aria-label="productPrecio" aria-describedby="basic-addon1">
            </div>
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" (click)="onClickAddProduct()" data-bs-dismiss="modal">Crear</button>
            </div>
        </div>
    </div>
</div>
