
<header class="container-fluid">
  <div class="row">
    <!--ícono y nombre-->
    <div class="col-2">
      <div class="row align-items-center">
        <div class="col-6">
          <img class="img-fluid p-1" width="100" heigth="80" src="./assets/logo.png" alt="Logo">
        </div>
        <div class="col-6">
          <h4><b>tuDroga</b></h4>
        </div>
      </div>
    </div>
    <div class="col-1">

    </div>
    <!--Barra de búsqueda-->
    <div class="col-5 align-items-center">
      <div class="input-group p-1">
        <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Categoría</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">dolor</a></li>
          <li><a class="dropdown-item" href="#">maternidad</a></li>
          <li><a class="dropdown-item" href="#">y otras cositas</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
        <input type="text" class="form-control" placeholder="Buscar un artículo por el nombre" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-dark" type="button" id="button-addon2">Buscar</button>
      </div>
    </div>
    <!--Carrito y usuario-->
    <div class="col-3">

      <div class="row">
        <div class="col-6">
          <button button class="btn dropdown-toggle" type="button" id="dropdownCarrito" data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownCarrito">
            <li><a class="dropdown-item" href="#">Ver carrito</a></li>
            <li><a class="dropdown-item" href="#">Pagar</a></li>
          </ul>
        </div>
        <div class="col-6">
          <app-user-dropdown></app-user-dropdown>
        </div>
      </div>
    </div>
  </div>
</header>
<!--Productos-->

<div class="card-group" >
  <app-product-card *ngFor="let product of (products$ | async); index as i" [productData] = product [index] = i></app-product-card>
</div>

<router-outlet></router-outlet>

<!-- Modal para editar un artículo -->
<div class="modal fade" id="editProductModal" tabindex="-1" aria-labelledby="editProductModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h3 class="modal-title" id="editProductModalLabel">Editar producto</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
      <div class="modal-body">
          <div class="input-group mb-3">
              <span class="input-group-text" id="editProductNombre">Nombre del producto</span>
              <input type="text" [(ngModel)]="editProduct.nombre" class="form-control" placeholder="" aria-label="productNombre" aria-describedby="basic-addon1" >
          </div>
          <div class="input-group mb-3">
              <span class="input-group-text" id="editProductImg">Link de imagen</span>
              <input type="text" [(ngModel)]="editProduct.img" #ctrl="ngModel" class="form-control" placeholder="" aria-label="productImg" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
              <span class="input-group-text" id="editProductCategoria">Categoría</span>
              <input type="text" [(ngModel)]="editProduct.categoria" class="form-control" placeholder="" aria-label="productCategoria" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
              <span class="input-group-text" id="editProductPrecio">Precio</span>
              <input type="text" [(ngModel)]="editProduct.precio" class="form-control" placeholder="" aria-label="productPrecio" aria-describedby="basic-addon1">
          </div>
      </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-success" (click)="onClickEditProduct()" data-bs-dismiss="modal">Guardar</button>
          </div>
      </div>
  </div>
</div>

<!-- Modal para eliminar un artículo -->
<div class="modal fade" id="deleteProductModal" tabindex="-1" aria-labelledby="deleteProductModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h3 class="modal-title" id="deleteProductModalLabel">Eliminar producto</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
      <div class="modal-body">
          <p>¿Está seguro de eliminar este producto?</p>
      </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-danger" (click)="onClickDeleteProduct()" data-bs-dismiss="modal">Eliminar</button>
          </div>
      </div>
  </div>
</div>
