<div class="card">
    <img class="card-img-top" src={{productData.img}} alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{productData.nombre}}</h5>
        <p class="card-text">{{productData.categoria}}</p>
        <p class="card-text">$ {{productData.precio}}</p>
        <button type="button" class="btn btn-primary" *ngIf="!isAdmin">+Carrito</button>
        <button type="button" class="btn btn-info" *ngIf="isAdmin" data-bs-toggle="modal" data-bs-target="#editProductModal" (click)="onClickedEdit()">Editar </button>
        <button type="button" class="btn btn-danger" *ngIf="isAdmin" data-bs-toggle="modal" data-bs-target="#deleteProductModal" (click)="onClickedEdit()">Eliminar</button>
    </div>
</div>